/* apply a natural box layout model to all elements, but allowing components to change */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif; }

a {
  text-decoration: none; }

.container {
  width: 96%;
  margin: 0 auto; }

.clearfix:after {
  clear: both;
  content: "";
  display: table; }

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: .05em; }

html,
ol.legend li {
  font-weight: 400; }

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

ol.legend,
ol.descriptions,
ol.thumbnails {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ol.legend:after,
  ol.descriptions:after,
  ol.thumbnails:after {
    content: "";
    display: table;
    clear: both; }
  ol.legend > li,
  ol.descriptions > li,
  ol.thumbnails > li {
    display: inline-block; }

ol.thumbnails li,
ol.legend li {
  display: inline-block; }

ol.legend > li:first-child > ol > li {
  width: 9%; }

li.legend-decade-list-item ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  li.legend-decade-list-item ol > li {
    width: 10%;
    text-align: center; }

.animation-container {
  width: 100%;
  overflow: hidden; }

img {
  max-width: 100%; }

ol.thumbnails {
  text-align: center; }
  ol.thumbnails > li > ol {
    position: relative;
    background: rgba(255, 255, 255, 0.5); }
    ol.thumbnails > li > ol > li {
      width: 10%;
      position: relative;
      z-index: -1; }
      ol.thumbnails > li > ol > li a {
        cursor: default;
        display: inline-block; }
    ol.thumbnails > li > ol > li.active {
      z-index: 1; }
    ol.thumbnails > li > ol > li.active.has-gallery a {
      cursor: zoom-in; }
  ol.thumbnails > li:nth-of-type(1) > ol > li {
    width: 9.091%; }

ol.legend {
  padding-bottom: 5px; }
  ol.legend a.pin {
    width: 30px;
    height: 30px;
    display: block;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: white;
    border: solid 3px black;
    margin: 0 auto; }
    ol.legend a.pin:hover, ol.legend a.pin:focus, ol.legend a.pin.active {
      background: black; }
  ol.legend span.age {
    display: inline-block;
    margin-bottom: 8px; }

ol.descriptions {
  width: 100%; }
  ol.descriptions > li {
    display: block;
    float: none;
    width: 100%;
    padding: 20px; }
    ol.descriptions > li p {
      margin: 0; }
  ol.descriptions > li {
    display: none; }

a.prev,
a.next {
  display: inline-block; }
  a.prev.show,
  a.next.show {
    display: inline-block; }

.pagination:after {
  clear: both;
  content: "";
  display: table; }
.pagination .prev {
  float: left; }
.pagination .next {
  float: right; }

.prev,
.next {
  width: 60px;
  height: 60px;
  border: none;
  background: transparent;
  position: relative;
  margin: 10px; }
  .prev:before,
  .next:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1; }

.next:before {
  border-top: 25px solid transparent;
  border-left: 40px solid rgba(0, 0, 0, 0.5);
  border-bottom: 25px solid transparent; }

.prev:before {
  border-top: 25px solid transparent;
  border-right: 40px solid rgba(0, 0, 0, 0.5);
  border-bottom: 25px solid transparent; }

a.prev {
  display: none; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  overflow-y: scroll; }
  .modal .modal-wrap {
    position: fixed;
    left: 50%;
    top: 30%;
    position: relative;
    top: 0;
    left: 0;
    min-width: 440px;
    max-width: 800px;
    width: 90%;
    margin: 0 auto; }
    .modal .modal-wrap .message {
      position: relative;
      left: -50%;
      height: auto;
      margin: 0 auto;
      left: 0;
      background: transparent;
      margin-top: 5%; }

.modal .cancel {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  background: black;
  color: white;
  text-align: center;
  padding-top: 6px;
  border-radius: 50%; }
  .modal .cancel:hover {
    background: white;
    color: black; }

.modal.gallery-wrapper a.modal-previous,
.modal.gallery-wrapper a.modal-next {
  display: inline-block;
  padding: 8px 6px 4px;
  background: white;
  color: black;
  text-decoration: none; }
.modal.gallery-wrapper ul.pagination {
  margin: 0;
  padding: 0; }
  .modal.gallery-wrapper ul.pagination li {
    display: inline-block;
    padding: 8px 6px 4px;
    background: black;
    color: white; }
    .modal.gallery-wrapper ul.pagination li.current {
      background: white;
      color: black; }
.modal.gallery-wrapper ul.gallery.prev-next-gallery {
  text-align: center; }
  .modal.gallery-wrapper ul.gallery.prev-next-gallery:after {
    clear: both;
    content: "";
    display: table; }
  .modal.gallery-wrapper ul.gallery.prev-next-gallery li {
    float: left;
    display: inline-block; }

/*# sourceMappingURL=main.css.map */
