/////     MODAL STYLES    /////

/////     .takeover    /////
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0,0,0,.5);
  position: fixed;
  overflow-y: scroll;
  .modal-wrap {
    position: fixed;
    left: 50%;
    top: 30%;
    position: relative;
    top: 0;
    left: 0;
    min-width: 440px;
    max-width: 720px;
    width: 90%;
    margin: 0 auto;
    .message {
      position: relative;
      //padding: 55px 40px;
      left: -50%;
      //padding: 0 40px 30px;
      height: auto;
      margin: 0 auto;
      left: 0;
      //background: white;
      margin-top: 5%;
    }
  }
}


.modal {
  .cancel {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    background: black;
    color: white;
    text-align: center;
    padding-top: 6px;
    border-radius: 50%;
    &:hover {
      background: white;
      color: black;
    }
  }
}

.modal.gallery-wrapper {
  a.modal-previous,
  a.modal-next {
    display: inline-block;
    padding: 8px 6px 4px;
    background: black;
    color: white;
    text-decoration: none;
    &:hover {
      background: white;
      color: black;
    }
    &:active {
      color: red;
    }
  }
  
  ul.pagination {
    margin: 0;
    padding: 0;
    //margin-top: 18px;
    display: inline-block;
    background: black;
    li {
      display: inline-block;
      padding: 8px 6px 4px;
      background: transparentize(gray, .5);
      color: white;
      &.current {
        background: white;
        color: black;
      }
    }
  }
  // modal themes
  ul.gallery.prev-next-gallery {
    //width: 300%;
    text-align: center;
    margin-bottom: 15px;
    &:after {
      clear: both;
      content: "";
      display: table;
    }
    li {
      float: left;
      display: inline-block;
    }
  }
}


// make the modal gallery shorter images if the height is a smaller device
@media only screen and (max-height: 900px) {
  ul.gallery.prev-next-gallery {
    background: transparentize(black, .5);
    li {
      img {
        max-width: 400px;
        height: auto;
      }
    }
  }
}