
// generally speaking
ol.legend,
ol.descriptions,
ol.thumbnails {
  list-style-type: none;
  margin: 0;
  padding: 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  > li {
    display: inline-block;
  }
}

// all thumbnails display inline-block
ol.thumbnails,
ol.legend {
  li {
    display: inline-block;
  }
}

ol.legend,
ol.thumbnails,
.legend-decade-list-item,
.thumbnails-decade-list-item {
    //height: 80px;
    //background: yellow;
    //border-right: solid 1px red;
}

// birth
ol.legend > li:first-child {
  > ol > li  {
    width: 9%;
  }
}
li.legend-decade-list-item {
  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    > li {
      width: 10%;
      text-align: center;
      //border-right: solid 1px red;
    }
  }
}

// for the slider parts
.animation-container {
  width: 100%;
  overflow: hidden;
}


img {
  max-width: 100%;
}


ol.thumbnails {
  text-align: center;
  > li {
    > ol {
      position: relative;
      > li {
        width: 10%;
        background: rgba(255,255,255,.7);
        //z-index: -1;
        a {
          position: relative;
          z-index: -1;
          cursor: default;
          display: inline-block;
        }
      }
      > li.active {
        a {
          z-index: 1;
        }
      }
      > li.has-gallery {
        cursor: pointer;
      }
      > li.active.has-gallery {
        a {
          cursor: zoom-in;
        }
      }
    }
  }
  // compensate for birth
  > li:nth-of-type(1) {
    > ol {
      > li {
        width: 9.091%;
      }
    }
  }
}



// legend
// because of birth
ol.legend {
  padding-bottom: 5px;
  a.pin {
    width: 30px;
    height: 30px;
    display: block;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: white;
    border: solid 3px black;
    margin: 0 auto;
    &:hover,
    &:focus,
    &.hover {
      background: transparentize(black, .5);
    }
    &:active,
    &.activated {
      background: red;
    }
    &.active {
      background: black;
    }
  }
  span.age {
    display: inline-block;
    margin-bottom: 8px;
  }
}


// descriptions
ol.descriptions {
  width: 100%;
  margin: 40px 0;
  > li {
    display: block;
    float: none;
    //width: 100%;
    //padding: 20px;
    //background: #d5d5d5;
    //color: #989898;
    p {
      margin: 0;
    }
  }
  > li {
    display: none;
  }
}



// widgets





// prev/next buttons
a.prev-decade,
a.next-decade {
  display: inline-block;
  &.show {
    display: inline-block;
  }
}

.pagination {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
  .prev-decade {
    float: left;
  }
  .next-decade {
    float: right;
  }
}
.prev-decade,
.next-decade {
  width: 60px;
  height: 60px;
  border: none;
  background: transparent;
  position: relative;
  margin: 10px;
  &:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }
}
.next-decade {
  &:before {
  border-top: 25px solid transparent;
  border-left: 40px solid transparentize(black, .5);
  border-bottom: 25px solid transparent;
  }
}

.prev-decade {
  &:before {
  border-top: 25px solid transparent;
  border-right: 40px solid transparentize(black, .5);
  border-bottom: 25px solid transparent;
  }
}
// turn off the prev because we wont go back into time
a.prev-decade {
  display: none;
}




// custom styling, non layout related
a.open-gallery {
  background: transparentize(#e7e7e7, .2);
  color: black;
  display: inline-block;
  padding: 5px 5px 4px;
  font-size: .925rem;
  margin-top: 1rem;
  &:hover,
  &:focus {
    background: gray;
    color: white;
  }
  &:active {
    background: red;
    color: black;
  }
}

// inside the descriptions
ul.additional-events {
  list-style-type: square;
  margin: 1rem 0 0;
  margin-left: 1rem;
  padding-left: 20px;
}
ol.descriptions {
  > li {
    padding-bottom: 20px;
    border-bottom: solid 1px transparentize(#e7e7e7, .5);
    //font-size: .925rem;
    width: 96%;
    max-width: 500px;
    margin: 20px auto;
  }
  p.age {
    text-transform: uppercase;
    border-bottom: solid 1px transparentize(#e7e7e7, .2);
    margin-bottom: 1rem !important;
    padding-bottom: 4px;
    font-size: .875rem;
  }
}



